@font-face {
    font-family: 'Montserrat';
    src: url(..//fonts/montserrat/Montserrat-Black.woff2);
    font-weight: 900;
}
@font-face {
    font-family: 'Montserrat';
    src: url(..//fonts/montserrat/Montserrat-BoldItalic.woff2);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url(..//fonts/montserrat/Montserrat-Regular.woff2);
    font-weight: 400;
}
