@import url(fonts.css);

/* ROOT start */

:root {
    --font-base: "Montserrat"; 
    --font-alt: "Trebuchet";
    --body: #FFF;
    --color: #323232;
    --title: #7177F1;
    --btn-bg: #7177F1;
    --btn-color: #FFF;
    --link: #7177F1;
    --dot-base: #828282;
    --dot-active: #7177F1;
}

body {
    background: var(--body);
    font-family: var(--font-base);
    columns: var(--color);
}

a{
    text-decoration: none;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p {
    margin-bottom: 0; 
}

.button {
    background: var(--btn-bg);
    color: var(--btn-color) !important;
    padding: 10px 0;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-align: center;
    display: block;
    transition: 500ms;
    font-size: 18px;
}

.button:hover {
    background: var(--btn-color);
    color: var(--btn-bg);
}
/* ROOT end */
/* ==================================== */
/* HEADER start */

.menu__link {
    font-size: 24px;
    line-height: 16px;
    color: var(--link);
}

.navbar {
    padding: 13px 0;
}

.logo__dark {
    display: none;
}
/* HEADER end */
/* ==================================== */
/* FOOTER start */
/* FOOTER end */
/* ==================================== */